body {
    display: grid;
    grid-template: 80% 20% / 1fr 2fr 1fr;
    align-items: center;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#tablero {
    border: solid 3px black;
    padding: 0;
    height: 505px;
    width: 505px;
    justify-self: center;
    display: grid;
    grid-template: 20px 465px 20px / 20px 465px 20px;
}

#casillas {
    border: double 5px black;
    width: 456px;
    height: 456px;
    display: grid;
}

.jugador {
    margin: 10px;
    display: grid;
    padding: 5px;
    font-family: "Courier New", Courier, monospace;
    font-size: 18px;
    justify-self: center;
    align-items: center;
    justify-content: center;
    grid-template: repeat(6, 16.7%) / repeat(2, 50%);
}

.ficha {
    height: 98%;
    width: 98%;
    cursor: pointer;
}

.casilla {
    background-color: #C0C0C0; 
    display: flex; 
    justify-content: center; 
    align-items: center;
}

.rango {
    flex-direction: column-reverse;
}

.coordenada {
    display: flex; 
    align-items: center;
    justify-content: space-around;
    font-family: "Courier New", Courier, monospace;
    font-weight: bold;
    font-size: 17px;
}

.seleccion {
    background-color: #868686;
}

.informacion {
    text-align: center;
    margin: 10px;
}

.titulo {
    grid-column: span 2;
    text-align: center;
    font-weight: bold;
}

#informacion-juego {
    margin: 10px;
    display: grid;
    padding: 5px;
    width: 50%;
    font-family: "Courier New", Courier, monospace;
    font-size: 18px;
    grid-template: repeat(2, 50%) / repeat(2, 50%);
    align-self:self-start;
    justify-self: center;
}